{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% for message in app.flashes('success-remove') %}
<div class="alert alert-success">
        {{ message }}
</div>
{% endfor %}

<div class="col-12 col-lg-8 mt-5">
    <p>Parce que la télévision a atteint des niveaux de médiocrités records, ce site a pour but de référencer des chaînes 
        YouTube intellectuellement enrichissantes.</p>
    <p>Certains sujets polémiques sont abordés par des youtubeurs présents sur ce site. 
        Certains médias présents sur ce site sont clairement orientés politiquement.
        Nous n'avons pas la volonté de transmettre une quelconque idéologie, de soutenir un parti politique 
        ou de transmettre des croyances. 
        Vous trouverez probablement des points de vue contradictoires sur l'ensemble des chaînes proposées.
    </p>
    <p>
        Le meilleur moyen de mettre à l'épreuve vos convictions, vos croyances est d'écouter, de comprendre ceux qui ne les partagent pas.
    </p>
</div>

<div class="col-12 col-lg-2 pt-5">
    <a class="twitter-timeline" data-tweet-limit="1" href="https://twitter.com/tvintelligente?ref_src=twsrc%5Etfw">Tweets by tvintelligente</a>

</div>

<div class="col-12 pt-5">

    <h1 class="text-center">Les dernières vidéos</h1>
    <div class="container">
        <div class="row">
            {% for post in mostRecentPost %}

                <div class="col-12 col-lg-4 mt-5">
                    <a class= "m-auto d-block card-post_a" href="{{ path('article_category', {'id':post.id}) }}">

                        <div class="card div_card_border">
                            <div class="jumbotron">
                                <div class="noncliquable"></div>
                                    {{ post.iframe|raw }}
                            </div>
                            <div class="card-body">
                                <p class="card-title card-post_p_title fw-bold">{{ post.title }}</p>
                                <p class="card-text card-post_p_youtuber fw-lighter">{{ "Youtuber : " ~ post.youtuber.name }}</p>
                                <p class="card-text card-post_p_date fw-lighter">{{ "Publié le : " ~ post.createdAt|date("d/m/Y") }}</p>
                                <p class="card-text card-post_p_tag fw-lighter">
                                    {{ "Tag : "  }}
                                    {% for tag in post.tags %}

                                        {{ tag.name }}

                                    {% endfor %}
                                </p>
                                <i class="far fa-thumbs-up card-post_i_icon-like"></i>
                                <span class="card-post_span_nbre-like">{{ post.postLikes|length }}</span>

                                {# <i class="fas fa-thumbs-up"></i> #}
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

</div>



    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/e1615367d2.js" crossorigin="anonymous"></script>
{% endblock %}



