{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}

    <div class="col-xl-2 col-lg-3 col-md-4 col-12 pt-md-5 sticky-top">

        {% include 'partials/nav_tag_posts.html.twig' %}

    </div>

    <div class="col-xl-10 col-lg-9 col-md-8 col-12">
        <div class="row">

            {% for post in tagPost.posts %}
                <div class="col-12 col-lg-6 pt-5">
                    <a class= "m-auto d-block card-post_a card-post_a" href="{{ path('article_tag', {'id':post.id}) }}">
                        <div class="card  div_card_border">
                            <div class="jumbotron">
                                <div class="noncliquable"></div>
                                    {{ post.iframe|raw }}
                            </div>
                            <div class="card-body">
                                <p class="card-title card-post_p_title">{{ post.title }}</p>
                                <p class="card-text card-post_p_youtuber fw-lighter">{{ "Youtuber : " ~ post.youtuber.name }}</p>
                                <p class="card-text card-post_p_category fw-lighter">{{ "Categorie : " ~ post.categories[0].name }}</p>
                                <p class="card-text card-post_p_date fw-lighter">{{ "Publié le : " ~ post.createdAt|date("d/m/Y") }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center mt-5">
                {{ knp_pagination_render(tagPost.posts, 'pagination.html.twig') }}
           </div>

        </div>
    </div>


    <script src="https://kit.fontawesome.com/e1615367d2.js" crossorigin="anonymous"></script>
{% endblock %}
